.app-container {
  width: 100%;
}

.main-content {
  animation: fadeIn 1.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--soft-cream);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-brown);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4D3B2F;
}